@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "Persons";
}
<!--searchBy=&searchString=&sortBy=PersonName&sortOrder=Descending-->
<h1>Persons</h1>

<a asp-controller="Persons" asp-action="Create">Create a Person</a>
<a asp-controller="Persons" asp-action="PersonsPDF" class="ml">Download as PDF</a>
<a asp-controller="Persons" asp-action="AllPeopleCSV" class="ml">Download all people as CSV</a>

<form asp-controller="Persons" asp-action="Index" method="get">
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach(var field in ViewBag.SearchFields)
                {
                   if(field.Key == ViewBag.CurrentSearchBy)
                   {
                       <option value=@field.Key selected="selected">@field.Value</option>
                   }
                   else
                   {
                       <option value=@field.Key>@field.Value</option>
                   }
                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="Search" name="searchString" value="@ViewBag.CurrentSearchString" class="form-input" placeholder="Search" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a asp-controller="Persons" asp-action="Index" class="link-hover">Clear All</a>
        </div>
    </div>

    <table class="table w-100 mt">
        <thead>
            <tr>
                @(
                await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.PersonName) },
                    {"DisplayName", "Name"}
                }))
                @(
                    await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.PersonEmail) },
                    {"DisplayName", "Email"}
                }))
                @(
                    await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.DOB) },
                    {"DisplayName", "DOB"}
                }))
                @(
                    await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.Age) },
                    {"DisplayName", "Age"}
                }))
                @(
                    await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.Gender) },
                    {"DisplayName", "Gender"}
                }))
                @(
                    await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.Country) },
                    {"DisplayName", "Country"}
                }))
                @(
                    await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.PersonAddress) },
                    {"DisplayName", "Address"}
                }))
                @(
                    await Html.PartialAsync("_GridColumn", new ViewDataDictionary(ViewData)
                {
                    {"ColumnName", nameof(PersonResponse.ReceivesNewsletters) },
                    {"DisplayName", "Newsletters?"}
                }))
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach(PersonResponse person in Model)
            {
               <tr>
                   <td style="width:14%">@person.PersonName</td>
                   <td style="width:17%">@person.PersonEmail</td>
                   <td style="width:11%">@person.DOB?.ToString("dd MMM yyyy")</td>
                   <td style="width:9%">@person.Age</td>
                   <td style="width:8%">@person.Gender</td>
                   <td style="width:11%">@person.Country</td>
                   <td style="width:14%">@person.PersonAddress</td>
                   <td style="width:9%">@person.ReceivesNewsletters</td>
                   <td style="width:7%">
                       <a asp-controller="Persons" asp-action="Edit" asp-route-personId="@person.PersonId">Edit</a>
                        <a asp-controller="Persons" asp-action="Delete" asp-route-personId="@person.PersonId">Delete</a>
                   </td>
               </tr>
            }
        </tbody>
    </table>
</form>